:root {
  --major-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --major-letter-spacing: 0.03em;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --background-color: #2f303a;
  --backgroud-light-color: #f5f4fa;
  --color-titles: #212121;
  --color-action-btn: #188ce8;
  --major-color-light: #ffffff;
  --major-text-color: #757575;
  --initial-gray-color: #AFB1B8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--major-font-family);
  letter-spacing: var(--major-letter-spacing);
  color: var(--major-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.accent-button {
  align-items: center;
  min-width: 200px;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--major-color-light);
  background: var(--accent-color);
  transition: background-color 250ms var(--timing-function);
}

.accent-button:hover, .accent-button:focus {
  background-color: var(--color-action-btn);
}

.logo__part {
  color: var(--accent-color);
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  color: var(--color-titles);
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  border-radius: 4px;
  background: var(--major-color-light);
  transition: transform 250ms var(--timing-function);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--major-color-light);
}

.btn-close__icon {
  transition: fill 250ms var(--timing-function);
}

.btn-close:focus .btn-close__icon,
.btn-close:hover .btn-close__icon {
  fill: var(--accent-color);
}

/*=== start form ===*/
.contact-form__field {
  display: block;
  margin-bottom: 10px;
}

.contact-form__wrapper {
  position: relative;
  display: block;
}

.contact-form__title {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.contact-form__start {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-titles);
}

.contact-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.contact-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form__icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}

.contact-form__input:focus + .contact-form__icon {
  fill: var(--accent-color);
}

.contact-form__message {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.contact-form__message::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-checkbox {
  margin-bottom: 30px;
}

.contact-form-checkbox__accent {
  color: var(--accent-color);
  text-decoration: underline solid var(--accent-color);
}

.contact-form-checkbox__label {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.contact-form-checkbox__label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 7px;
  cursor: pointer;
  border: 2px solid var(--color-titles);
  border-radius: 2px;
}

.contact-form-checkbox__input:checked + .contact-form-checkbox__label::before {
  border-radius: 2px;
  border: none;
  background-color: var(--accent-color);
  background-image: url(../images/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.contact-form-checkbox__input:focus + .contact-form-checkbox__label::before {
  outline: 0 solid var(--color-titles);
}

@media (max-width: 449px) {
  .modal {
    width: 100vw;
  }
}

@media (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
  .contact-form-checkbox__label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
  }
  .contact-form__start {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
  }
}

@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.footer-title {
  margin-bottom: 20px;
  font-family: var(--major-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--major-color-light);
}

.main__title {
  text-align: center;
  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--major-color-light);
}

@media screen and (min-width: 1200px) {
  .main__title {
    max-width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
  }
}

@media screen and (max-width: 767px) {
  .social-list__item:not(:last-child) {
    margin-right: 10px;
  }
}

.social-list {
  display: flex;
}

.social-list__icon {
  transition: fill 250ms var(--timing-function);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--major-color-light);
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .burger-menu {
    padding: 0;
    border: none;
    line-height: 0;
    cursor: pointer;
    background-color: transparent;
  }
  .burger-menu__icon {
    transition: fill 250ms var(--timing-function);
  }
  .burger-menu__icon:hover {
    fill: var(--accent-color);
  }
  .mobile-menu {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: var(--major-color-light);
    transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 11px;
    border: none;
    line-height: 0;
    cursor: pointer;
    background-color: transparent;
  }
  .btn-close__icon {
    transition: fill 250ms var(--timing-function);
  }
  .mobile-menu__close:hover .btn-close__icon {
    fill: var(--accent-color);
  }
  .mobile-menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mobile-list {
    margin-bottom: 64px;
  }
  .mobile-list__item {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
    color: var(--color-titles);
  }
  .mobile-list__item .mobile-list__link {
    color: var(--color-titles);
  }
  .mobile-list__item .mobile-list__link:hover {
    color: var(--accent-color);
    transition: color 250ms var(--timing-function);
  }
  .mobile-list__item .mobile-list__link--active {
    color: var(--accent-color);
  }
  .mobile-contacts {
    margin-bottom: 64px;
  }
  .mobile-contacts__phone {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-contacts__email {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--major-text-color);
  }
  .mobile-contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-social {
    display: flex;
  }
  .mobile-social__item {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-social__item:not(:last-child) {
    margin-right: 20px;
  }
  .mobile-social__item .mobile-social__link {
    color: var(--accent-color);
  }
  .mobile-social__item:not(:last-child)::after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    right: -10px;
    height: 22px;
    min-width: 1px;
    background: rgba(33, 33, 33, 0.2);
  }
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-logo {
  font-family: var(--secondary-font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--logo-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
    padding: 10px 0;
  }
  .nav-menu {
    display: none;
  }
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu,
  .burger-menu {
    display: none;
  }
  .top-logo {
    margin-right: 92px;
  }
  .header {
    position: relative;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .nav-menu__item .nav-menu__link {
    display: block;
    padding: 32px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-titles);
    transition: color 250ms var(--timing-function);
  }
  .nav-menu__item .nav-menu__link:hover,
  .nav-menu__item .nav-menu__link:focus {
    color: var(--accent-color);
  }
  .nav-menu {
    display: flex;
    align-items: center;
  }
  .nav-menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-menu__link--active {
    position: relative;
  }
  .nav-menu__item .nav-menu__link--active {
    color: var(--accent-color);
  }
  .nav-menu__link--active::after {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    bottom: 0;
    height: 4px;
    min-width: 100%;
    border-radius: 2px;
    background: var(--accent-color);
  }
  .contacts__icon {
    margin-right: 10px;
    fill: currentColor;
    transition: fill 250ms var(--timing-function);
  }
  .contacts__link:hover .contacts__icon,
  .contacts__link:focus .contacts__icon {
    fill: var(--accent-color);
  }
  .contacts__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--major-text-color);
    transition: color 250ms var(--timing-function);
  }
  .contacts__item .contacts__link:hover,
  .contacts__item .contacts__link:focus {
    color: var(--accent-color);
  }
}

@media screen and (max-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
  .contacts__item:first-child {
    margin-right: 50px;
  }
}

.hero {
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backimg@2x.jpg);
  }
}

@media (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .hero {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backimg-tablet.jpg);
  }
}

@media (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backimg-tablet@2x.jpg);
  }
}

@media (max-width: 767px) {
  .hero {
    height: 400px;
    max-width: 480px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backimg-phone.jpg);
  }
}

@media (max-width: 767px) and (min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 192dpi), (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backimg-phone@2x.jpg);
  }
}

.advantages__discription {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--major-text-color);
}

.advantages__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-titles);
}

.advantages__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--backgroud-light-color);
}

@media screen and (max-width: 767px) {
  .advantages__title {
    text-align: center;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__item {
    width: 354px;
    margin: 15px;
  }
  .advantages__item:nth-child(2n) {
    margin-right: 0;
  }
  .advantages__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__list {
    display: flex;
    justify-content: space-between;
  }
  .advantages__item {
    width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .activities {
    display: none;
  }
}

.activities {
  padding-top: 0;
}

.activities_list {
  display: flex;
  justify-content: space-between;
}

.activities__image {
  position: relative;
  display: flex;
  justify-content: center;
}

.activities__image::before {
  display: inline-block;
  position: absolute;
  content: '';
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activities__item {
  position: absolute;
  text-align: center;
  bottom: 27px;
  z-index: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--major-color-light);
}

.our-team {
  background-color: var(--backgroud-light-color);
}

.our-team__employee-name {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  color: var(--color-titles);
}

.our_team__employee {
  max-width: 450px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team__wrapper {
  padding-top: 30px;
  padding-bottom: 24px;
  border-radius: 0px 0px 4px 4px;
  background: var(--major-color-light);
}

.our-team__employee-name {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  color: var(--color-titles);
}

.our-team__position {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  color: var(--major-text-color);
}

.social-list__icon--team {
  fill: var(--initial-gray-color);
}

@media screen and (max-width: 767px) {
  .our_team__employee {
    margin-bottom: 30px;
  }
  .social-list--team {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .social-list--team {
    justify-content: space-between;
  }
  .our-team__order {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team__order {
    flex-wrap: wrap;
    margin: -15px;
  }
  .our_team__employee {
    max-width: 354px;
    margin: 15px;
  }
  .our_team__employee:nth-child(2n) {
    margin-right: 0;
  }
  .our_team__employee:nth-child(-n + 2) {
    margin-bottom: 0;
  }
  .our-team__wrapper {
    padding: 30px 74px 24px 74px;
  }
}

@media screen and (min-width: 1200px) {
  .our_team__employee {
    max-width: 270px;
  }
  .our_team__employee:not(:last-child) {
    margin-right: 30px;
  }
  .our-team__wrapper {
    padding: 30px 32px;
  }
}

.clients__item .clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
}

.clients__item {
  width: 210px;
  border: 1px solid var(--initial-gray-color);
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}

.clients__item:hover, .clients__item:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.clients__icon {
  fill: var(--initial-gray-color);
  transition: fill 250ms var(--timing-function);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .clients__item {
    margin: 15px;
  }
  .clients {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 480px) {
  .clients {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .clients__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients__item:nth-child(2n) {
    margin-right: 0;
  }
  .clients__item:nth-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    width: 226px;
  }
  .clients__item:nth-child(3n) {
    margin-right: 0;
  }
  .clients__item:nth-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
  .clients {
    display: flex;
    justify-content: space-between;
  }
}

.footer {
  padding: 60px 0;
  background-color: var(--background-color);
}

.footer__logo {
  font-family: var(--secondary-font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--major-color-light);
}

.address {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
  color: var(--major-color-light);
}

.bottom-contacts__item:not(:last-child) {
  margin-bottom: 8px;
}

.bottom-contacts__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
}

.bottom-contacts__item .bottom-contacts__link:hover,
.bottom-contacts__item .bottom-contacts__link:focus {
  color: var(--accent-color);
}

.social-list__item--footer:not(:last-child) {
  margin-right: 10px;
}

.social-list__link--bottom {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__icon--footer {
  fill: var(--major-color-light);
}

.footer-contact-form__title {
  display: block;
}

.footer-contact-form__input {
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--major-color-light);
  background-color: var(--background-color);
  transition: border-color 250ms var(--timing-function);
}

.footer-contact-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.footer-contact-form__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.email-button {
  display: inline-flex;
  align-items: center;
}

.email-button__send {
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

@media screen and (max-width: 1199px) {
  .footer-title,
  .footer-contact-form,
  .footer__adress {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-contact-form__input {
    width: 100%;
  }
  .bottom-social {
    max-width: 206px;
    margin: 60px auto 60px auto;
  }
  .footer-contact-form__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-contact-form__input {
    display: block;
    margin: 0 auto 20px auto;
    min-width: 450px;
  }
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__adress {
    margin-right: 165px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
  .footer__adress {
    margin-right: 70px;
  }
  .bottom-social {
    margin-right: 94px;
    padding-top: 12px;
  }
  .footer-contact-form__input {
    min-width: 358px;
    margin-right: 12px;
  }
}
/*# sourceMappingURL=main.css.map */