:root {
  --major-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --major-letter-spacing: 0.03em;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --background-color: #2f303a;
  --backgroud-light-color: #f5f4fa;
  --color-titles: #212121;
  --color-action-btn: #188ce8;
  --major-color-light: #ffffff;
  --major-text-color: #757575;
  --initial-gray-color: #AFB1B8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--major-font-family);
  letter-spacing: var(--major-letter-spacing);
  color: var(--major-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.accent-button {
  align-items: center;
  min-width: 200px;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--major-color-light);
  background: var(--accent-color);
  transition: background-color 250ms var(--timing-function);
}

.accent-button:hover, .accent-button:focus {
  background-color: var(--color-action-btn);
}

.logo__part {
  color: var(--accent-color);
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  color: var(--color-titles);
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
  }
}

@media screen and (max-width: 767px) {
  .social-list__item:not(:last-child) {
    margin-right: 10px;
  }
}

.social-list {
  display: flex;
}

.social-list__icon {
  transition: fill 250ms var(--timing-function);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--major-color-light);
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.footer-title {
  margin-bottom: 20px;
  font-family: var(--major-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--major-color-light);
}

@media screen and (max-width: 767px) {
  .burger-menu {
    padding: 0;
    border: none;
    line-height: 0;
    cursor: pointer;
    background-color: transparent;
  }
  .burger-menu__icon {
    transition: fill 250ms var(--timing-function);
  }
  .burger-menu__icon:hover {
    fill: var(--accent-color);
  }
  .mobile-menu {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: var(--major-color-light);
    transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 11px;
    border: none;
    line-height: 0;
    cursor: pointer;
    background-color: transparent;
  }
  .btn-close__icon {
    transition: fill 250ms var(--timing-function);
  }
  .mobile-menu__close:hover .btn-close__icon {
    fill: var(--accent-color);
  }
  .mobile-menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mobile-list {
    margin-bottom: 64px;
  }
  .mobile-list__item {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
    color: var(--color-titles);
  }
  .mobile-list__item .mobile-list__link {
    color: var(--color-titles);
  }
  .mobile-list__item .mobile-list__link:hover {
    color: var(--accent-color);
    transition: color 250ms var(--timing-function);
  }
  .mobile-list__item .mobile-list__link--active {
    color: var(--accent-color);
  }
  .mobile-contacts {
    margin-bottom: 64px;
  }
  .mobile-contacts__phone {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-contacts__email {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--major-text-color);
  }
  .mobile-contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-social {
    display: flex;
  }
  .mobile-social__item {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-social__item:not(:last-child) {
    margin-right: 20px;
  }
  .mobile-social__item .mobile-social__link {
    color: var(--accent-color);
  }
  .mobile-social__item:not(:last-child)::after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    right: -10px;
    height: 22px;
    min-width: 1px;
    background: rgba(33, 33, 33, 0.2);
  }
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-logo {
  font-family: var(--secondary-font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--logo-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
    padding: 10px 0;
  }
  .nav-menu {
    display: none;
  }
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu,
  .burger-menu {
    display: none;
  }
  .top-logo {
    margin-right: 92px;
  }
  .header {
    position: relative;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .nav-menu__item .nav-menu__link {
    display: block;
    padding: 32px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-titles);
    transition: color 250ms var(--timing-function);
  }
  .nav-menu__item .nav-menu__link:hover,
  .nav-menu__item .nav-menu__link:focus {
    color: var(--accent-color);
  }
  .nav-menu {
    display: flex;
    align-items: center;
  }
  .nav-menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-menu__link--active {
    position: relative;
  }
  .nav-menu__item .nav-menu__link--active {
    color: var(--accent-color);
  }
  .nav-menu__link--active::after {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    bottom: 0;
    height: 4px;
    min-width: 100%;
    border-radius: 2px;
    background: var(--accent-color);
  }
  .contacts__icon {
    margin-right: 10px;
    fill: currentColor;
    transition: fill 250ms var(--timing-function);
  }
  .contacts__link:hover .contacts__icon,
  .contacts__link:focus .contacts__icon {
    fill: var(--accent-color);
  }
  .contacts__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--major-text-color);
    transition: color 250ms var(--timing-function);
  }
  .contacts__item .contacts__link:hover,
  .contacts__item .contacts__link:focus {
    color: var(--accent-color);
  }
}

@media screen and (max-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
  .contacts__item:first-child {
    margin-right: 50px;
  }
}

.options {
  display: flex;
}

.options > .options__item:not(:last-child) {
  margin-right: 8px;
}

.options__link {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  color: var(--color-titles);
  background-color: var(--backgroud-light-color);
  transition: box-shadow 250ms var(--timing-function);
}

.options__link:hover, .options__link:focus {
  color: var(--major-color-light);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

.options__link--active {
  color: var(--major-color-light);
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .options {
    flex-wrap: wrap;
    margin-bottom: -15px;
  }
  .options__item {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .options {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .options {
    margin-bottom: 50px;
  }
}

.porfolio__elem {
  transition: box-shadow 250ms var(--timing-function);
}

.porfolio__elem:hover, .porfolio__elem:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__image {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  display: inline-block;
  position: absolute;
  transform: translateY(100%);
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--timing-function);
}

.porfolio__elem:hover .portfolio__overlay {
  transform: translateY(0);
}

.portfolio__description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  margin: auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--major-color-light);
}

.portfolio__content-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.portfolio__item {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-titles);
}

.portfolio__option {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  color: var(--major-text-color);
}

@media screen and (max-width: 767px) {
  .porfolio__elem:first-child {
    margin-top: 40px;
  }
  .porfolio__elem {
    max-width: 450px;
  }
  .porfolio__elem:not(:last-child) {
    margin-bottom: 30px;
  }
  .portfolio__description {
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) {
  .porfolio__elem {
    max-width: 354px;
    margin: 15px;
  }
  .portfolio__description {
    padding: 49px 24px 77px 24px;
  }
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .porfolio__elem:nth-child(2n) {
    margin-right: 0;
  }
  .porfolio__elem:nth-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .porfolio__elem {
    max-width: 370px;
  }
  .portfolio__description {
    padding: 64px 24px;
  }
  .porfolio__elem:nth-child(3n) {
    margin-right: 0;
  }
  .porfolio__elem:nth-child(-n + 3) {
    margin-bottom: 0;
  }
}

.footer {
  padding: 60px 0;
  background-color: var(--background-color);
}

.footer__logo {
  font-family: var(--secondary-font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--major-color-light);
}

.address {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
  color: var(--major-color-light);
}

.bottom-contacts__item:not(:last-child) {
  margin-bottom: 8px;
}

.bottom-contacts__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
}

.bottom-contacts__item .bottom-contacts__link:hover,
.bottom-contacts__item .bottom-contacts__link:focus {
  color: var(--accent-color);
}

.social-list__item--footer:not(:last-child) {
  margin-right: 10px;
}

.social-list__link--bottom {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__icon--footer {
  fill: var(--major-color-light);
}

.footer-contact-form__title {
  display: block;
}

.footer-contact-form__input {
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--major-color-light);
  background-color: var(--background-color);
  transition: border-color 250ms var(--timing-function);
}

.footer-contact-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.footer-contact-form__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.email-button {
  display: inline-flex;
  align-items: center;
}

.email-button__send {
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

@media screen and (max-width: 1199px) {
  .footer-title,
  .footer-contact-form,
  .footer__adress {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-contact-form__input {
    width: 100%;
  }
  .bottom-social {
    max-width: 206px;
    margin: 60px auto 60px auto;
  }
  .footer-contact-form__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-contact-form__input {
    display: block;
    margin: 0 auto 20px auto;
    min-width: 450px;
  }
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__adress {
    margin-right: 165px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
  .footer__adress {
    margin-right: 70px;
  }
  .bottom-social {
    margin-right: 94px;
    padding-top: 12px;
  }
  .footer-contact-form__input {
    min-width: 358px;
    margin-right: 12px;
  }
}
/*# sourceMappingURL=portfolio.css.map */