@media screen and (max-width: 1199px) {
    .activities {
        display: none;
    }
}

.activities {
    padding-top: 0;
}

.activities_list {
    display: flex;
    justify-content: space-between;
}

.activities__image {
    position: relative;
    display: flex;
    justify-content: center;

    &::before {
        display: inline-block;
        position: absolute;
        content: '';
        bottom: 0;

        width: 100%;
        height: 70px;

        background-color: rgba(47, 48, 58, 0.8);
    }
}

.activities__item {
    position: absolute;
    text-align: center;
    bottom: 27px;
    z-index: 0;

    @include font(14px, 700, 16px);

    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--major-color-light);
}