:root {
    --major-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --major-letter-spacing: 0.03em;
    --accent-color: #2196f3;
    --logo-color: #000000;
    --background-color: #2f303a;
    --backgroud-light-color: #f5f4fa;
    --color-titles: #212121;
    --color-action-btn: #188ce8;
    --major-color-light: #ffffff;
    --major-text-color: #757575;
    --initial-gray-color: #AFB1B8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}